
{% extends 'base.html' %}

{% block content %}


    {% if user.is_authenticated %}


     

        <table class="table table-striped table-hover table-bordered ">
          <thead class='table-dark'>
            <tr>
              <th scope='col'>Name</th>
              <th scope='col'>Email</th>
              <th scope='col'>Phone</th>
              <th scope='col'>Address</th>
              <th scope='col'>ID</th>
              <th scope='col'>Created At</th>
            </tr>

          </thead>
          <tbody>
            <tr>
              {% if records %}
              {% for record in  records%}
              <tr> 
                 <td> {{record.first_name}}
                  {{record.last_name}}</td>
                  <td>{{record.email}}</td>
                  <td>{{record.phone}}</td>
                  <td>{{record.address}}</td>
                  <td>{{record.created_at}}</td>

                  <td><a href="{% url 'record' record.id %}">{{record.id}}</a> </td>
                </tr>
  
        {% endfor %}
  
  
       {% endif %}
            
          </tbody>
        </table>
       


    {% else %}
    <div class="col-md-6 offset-md-3">
      <h1>Login</h1><br>
      <form method="POST" action="{% url 'home' %}">
      {% csrf_token %}


      <div class="mb-3">
      <input type="text" class="form-control" name="username" placeholder='First Name' required>
     
         </div>
         <br>
         <div class="mb-3">
       <input type="password" class="form-control" name='password' placeholder='Password' required>
      </div>
         <br>
          <button type="submit" class="btn btn-primary">Login</button>
 

 

         </form>
        </div>

{% endif %}
{% endblock %}

